Building RAG-Based Chatbot.json
{
  "name": "Building RAG-Based Chatbot",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "795161d3-e1aa-4896-ab19-a2d0b62cdc54",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1BkNuHZnWDNWTIAgcHVj52cQ_SOlhC-kU",
            "mode": "list",
            "cachedResultName": "RAG",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1BkNuHZnWDNWTIAgcHVj52cQ_SOlhC-kU"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "92c73a2f-bf3d-461b-9328-43bb27bcb07a",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HEx9Hn8JM3R4gbkC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "7ea5eeb1-ebbc-48ed-9a4f-69ed3dbebe35",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HEx9Hn8JM3R4gbkC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "360e3a7d-ec6e-4be7-bdba-69aecf4f3724",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "PRh7CQBMsZuRlHyN",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        768,
        208
      ],
      "id": "2d088618-78a7-47e9-ad93-2ec2c68074fb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        576,
        192
      ],
      "id": "d292507d-4ab3-49d5-a7c2-7100828e0110",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "XjHUXDtq7y3tzYBX",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        16,
        384
      ],
      "id": "69605056-2916-4c97-899d-2128fe16fc05",
      "name": "When chat message received",
      "webhookId": "c931558b-d49d-45e1-af81-25f5c03ddda4"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the official customer support assistant for Urban Grill House. \n\nSTRICT RULES: \n- Before answering any business-related question, you MUST use the Pinccone retrieval tool to fetch relevant context. \n\n- Answer ONLY using the retrieved context. Do not guess or add information.\n\n- If the answer is not found in the retrieved context, reply exactly: \"Sorry, I don't have this information right now.\" STYLE: \n\n- Keep replies short (2-3 lines). \n\n- Use light, ncutral cmojis only () \n\n- Always end with a follow-up choice question to guide the user. GOAL:\n\n Help the user with menu, location, timings, delivery, and reservations, then move them toward an action: visit today, order via delivery, or reserve a table. I"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        384
      ],
      "id": "1c7fd334-d03c-4c70-bf66-b028ccc5d867",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        592
      ],
      "id": "c27ed8ce-aeea-4f17-b622-bb3ef31f607a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0m0As2ajb3UHaRFl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This vector store contains factual business knowledge for Urban Grill House,\n\nincluding menu items, combo deals, opening hours, Friday timings, location,\n\ndelivery availability, service areas, reservations, and contact details.\n\nUse this tool whenever the user asks questions related to Urban Grill House.\n\nAlways retrieve context from this store before answering",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        608,
        416
      ],
      "id": "5dd58fda-94df-45a5-845f-af8bec9a5ca6",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "PRh7CQBMsZuRlHyN",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        592
      ],
      "id": "e17125e7-2f12-4c51-a55c-64ec993d3f79",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "XjHUXDtq7y3tzYBX",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        592
      ],
      "id": "324dc090-588e-44a2-b813-025c454631b0",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "133d2328-ab16-458d-905b-ec2821b1fa60",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0260c07619a5a525c7c9f31d68b79ebe18cc6883c593f283345541f6d01d85a1"
  },
  "id": "xTrlZoAomcJ1CKuvRtcYi",
  "tags": []
}